<div>
<%= form_tag [page, Role.new], method: :post do %>
<p>Authorize a user to view this page:</p>
Enter username or email:
<%= text_field_tag :viewer %>
<%= submit_tag 'Add viewer' %>
<% end %>
</div>