<div>
<%= form_for [ page, Viewer.new ], :method => :post do |f|  %>

<p>Privacy Settings for "<%= @page.title %>"</p>
Enable registered users to view this page:
Please enter their username or email in the text box
<%= f.text_field :user %>

<%= f.submit %>
<% end %>

</div>