<div>
<%= form_tag page_roles_path(page), method: :post do %>

Please specificy who you would like to add as a collaborator to this page: 
Add collaborators by email or username


User name or Email <%= text_field_tag :collaborator %>

<%= submit_tag 'Add User' %>

</div>
<% end %>