<div>
<%= form_for page_create_collab_path(page) do |f|  %>

Please specificy who you would like to add as a collaborator to this page: 
Add collaborators by email or username


User name or Email <%= f.text_field :user %>

<%= f.submit %>
<% end %>

</div>