<% content_for :head do %>
    <%= stylesheet_link_tag 'welcome' %>
<% end %>

<div class="center">
    <h1>Welcome to DocShare</h1> 
</div>

<div>
    <h5 class="text">Your home for creating personalized wiki pages!</h5>
</div>
<hr>
<div class="sixteen columns">
    <div class="seven columns">
        <h3 class="center">Create and share easily!</h3>
        <br>
        <ul>
            <li><strong> Create and manage multiple pages with ease! </strong></li>
            <li><strong> Provide your friends a link to your page and show it off!</strong></li>
            <li><strong> Control exactly who can view your page(*subscribers only) </strong></li>
            <li><strong> Add collaborators to your project(*subscribers only) </strong></li>
        </ul>
    </div>

    <div class="seven columns offset-by-one">
        <h3 class="center">Do you prefer Markdown language?</h3>
        <br>
        <p>Watch your project come to life as your Markdown is rendered in realtime</p>
    </div>
</div>
