<div class="row banner">
  <h1 class="text">Welcome to Docshare</h1>
  <p class="text">Your home for creating personalized wiki pages!</p>
</div>

<div class="root-info">
<hr>
  <div class="row">
    <div class="eight columns alpha">
    <h3>Create, edit, update all from one site!</h3>
    </div>
    <div class="eight columns omega">
    <h3>Want a private wiki? We do offer that too!</h3>
    <p>Enable who may contribute to your wiki!</p>
    </div>
  </div>
</div>
