<h1> Hello <%= current_user.username %> </h1>
<p> You have <%= @pages.count %> pages! </p>
<p>Select one from below to view or edit!</p>
<div>
  <div>

  <div>
  <% @pages.each do |page| %>
    <div class="page-link">
    <%= link_to(  page.title , page, class: "page-index") %>
    </div>
    <% end %>
  </div>

<%= link_to 'Upgrade Account', new_charge_path %>
  </div>
</div>