<div class="sixteen columns edit-page">
<h2><%= @page.title %></h2> 
</div>

<div class="three columns">
<%= link_to 'Edit Page', edit_page_path, class: 'button' %>
<%= link_to 'Delete Page', @page, method: :delete, class: 'button' %>
</div>


<div class="ten columns off-set-by-one">
<div class"output-display">
<%= markdown(@page.body)  %>

</div>

</div>


