/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require base
 *= require layout
 *= require skeleton
 *= require_tree .
 */
ul {
  margin:0;
  padding:0;
  height:40px;
}
.nav {
  height:40px;
  margin-top:7px;
  background-color:#0066FF;
}

.nav-tab.left {
  float:left;
}

.nav-tab.right {
  float:right;
}

.nav-link {
  display:block;
  width:70px;
  font-size:16px;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  font-weight:bold;
  padding-top:10px;
  margin:0;
  height:30px;
}

.nav-link:hover, .nav-link:active {
  background-color:white;
  color:#0066FF;
}

.banner {
  font-size:16px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

.alert {
  color:black;
  background-color:#FFFF00;
  padding:5px;
  font-size:20px;
  font-family:Verdana;
  text-align:right;
  border:5px solid #B2B200;
  border-radius:15px;
  margin-top:20px;
}

.alert.alert-error {
  background-color:#FF0000;
  border:5px solid #990000;
}

.alert.alert-info {
  background-color:#0066FF;
  border:5px solid #003D99;
}

.root-info {
  margin-top:70px;
}