@import 'base';
@import 'layout';
@import 'skeleton';

/* --------------------- General Settings --------------------- */

body {
   background-color:rgb(250, 250, 250);
}

.center {
  text-align:center;
}

a {
  text-decoration:none;
}

a:visited {
  text-decoration:none;
  }

.hidden {
  display:none;
}

.insert {
  position:absolute;
  top:12%;
  margin-left:15%;
  margin-right:15%
}

.overflow {
  overflow:auto;
}

/* --------------------- Alert Settings --------------------- */

.alert {
  color:black;
  font-size:20px;
  font-family:Verdana;
  text-align:right;
  border:2px solid #B2B200;
  box-shadow: 10px 10px 10px #888888;
  position:absolute;
  top:1px;
  z-index:1000;
  padding:10px;
  padding-top:20px;
  width:90%;
  left:5%;
  margin:auto;
  background: linear-gradient(45deg, #F0F066 10%,
   #FFFF00 10%, #FFFF00 20%, #F0F066 20%, #F0F066 30%,
   #FFFF00 30%, #FFFF00 40%, #F0F066 40%, #F0F066 50%,
   #FFFF00 50%, #FFFF00 60%, #F0F066 60%, #F0F066 70%,
   #FFFF00 70%, #FFFF00 80%, #F0F066 80%, #F0F066 90%, 
   #FFFF00 90%);
}

.alert.alert-error {
  background: linear-gradient(45deg, #E60000 10%,
   #ED4747 10%, #ED4747 20%, #E60000 20%, #E60000 30%,
   #ED4747 30%, #ED4747 40%, #E60000 40%, #E60000 50%,
   #ED4747 50%, #ED4747 60%, #E60000 60%, #E60000 70%,
   #ED4747 70%, #ED4747 80%, #E60000 80%, #E60000 90%, 
   #ED4747 90%);
  border:2px solid #990000;
  color:white;
}

.alert.alert-info {
  background: linear-gradient(45deg, #4082E6 10%,
   #599CFF 10%, #599CFF 20%, #4082E6 20%, #4082E6 30%,
   #599CFF 30%, #599CFF 40%, #4082E6 40%, #4082E6 50%,
   #599CFF 50%, #599CFF 60%, #4082E6 60%, #4082E6 70%,
   #599CFF 70%, #599CFF 80%, #4082E6 80%, #4082E6 90%, 
   #599CFF 90%);
  border:2px solid #003D99;
  color:white;
}

/* --------------------- Nav Bar --------------------- */

.nav-bar {
  margin:0;
  padding:0;
  height:40px;
  background-color:rgba(0, 102, 255, .7);
  box-shadow: 10px 10px 10px #888888;
}

.account {
  display:inline-block;
}

.nav-tab{
  width:25%;
  border-bottom:3px solid rgba(255, 0, 0, 0);
}

a.nav-link {
  display:block;
  font-size:15px;
  text-align:center;
  text-decoration:none;
  font-weight:bold;
  margin-bottom:5px;
  height:25px;
  text-transform: uppercase;
  padding-top:10px;
  padding-bottom:5px;
  color:white;
}

#account-options {
  z-index:5;
  background-color: rgba(0, 102, 255, 0.701961);
  width:144px;
  position:absolute;
  top:100%;
  right:29%;
    box-shadow: 10px 10px 10px #888888;
}

a.drop-down-link {
  display:block;
  font-size:15px;
  text-align:center;
  color:white;
  height:25px;
  text-transform: uppercase;
  text-decoration:none;
  font-weight:bold;
  padding-top:10px;
  padding-bottom:5px;
  border:1px solid #0000CC;


}
/* --------------------- Buttons --------------------- */

.button.delete {
  margin:0;
  background: #eeeeee -webkit-linear-gradient(top, rgba(255, 0, 0, 1) 0%, rgb(255, 130, 130) 100%);
}