// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.js-collab-popup{
  z-index:100;
  position:absolute;
  right:55%;
  top:-7%;
  background-color:rgba(0, 102, 255, .9);
  color:white;
  border-radius:10px;
  padding:10px;
  box-shadow: 10px 10px 5px #888888;
  display:none;
}

table, th, td {
  border: 1px solid black;
}

table {
  border-collapse:collapse;
  width:100%
}

td {
  text-align:left;
  vertical-align:center;
  padding:15px;
}

th {
  background-color: black;
  color:white;
  font-style:strong;
}

.collab-form {
  down:50%  
}

input#page_title {
    width: 97%;
    margin:auto;
}

textarea#page_body  {
  width: 97%;
  height:93%;
  margin:auto;
  resize: none;
}

form#new_page, form.edit_page {
  height:100%;
  margin-bottom:0;
}

div.columns.fixed-form, {
  border: 1px solid rgb(192, 192, 192);
  margin: 0;
  background-color:rgba(230, 230, 230, 1);
  box-shadow: 10px 10px 10px #888888;
  height:700px;
  padding:5px;

  }

 div.columns.output-display {
  margin:0;
  border: 1px solid rgb(192, 192, 192);
  background-color:rgba(230, 230, 230, 1);
  box-shadow: 10px 10px 10px #888888;
  height:700px;
  padding: 5px;
  background-color:white;
  overflow:scroll;
 }

 input.new-page-button {
  position:absolute;
  top:1%;
  right:93%;
 }

 pre {
 background-color: rgb(230, 230, 230);
 }
