// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
  height:88px;
  text-align: center;
}

.text {
  font-size:16px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

.root-info {
  margin-top:70px;
}

.root-info{
  text-align:center;
}

/* Demo Markup Rendering */

.demo-text {
  font-size:20px;
  display:inline;
}

#demo-input {
  display:inline;
  float:left;
  margin-right:20px;
}



div.demo-row {
  position:relative;
  width:75%;
  left:25%;
}


.page-link{
  font-size:18px;
  margin:20px;
}

#login_prompt {
  position: absolute;
  top: 12%;
  left:0;
}